.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin button {
	margin-top: 10px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

#graph {
	border:1px solid grey;
/*	background-color: #222222;
*/}

