
<div class="container">
<!-- <p class="bg-success">Théatres</p>
<p class="bg-info">Pièces</p>
<p class="bg-warning">Personnes</p>
<p class="bg-danger">Liens</p> -->
<!--   http://visjs.org/examples/network/17_network_info.html

- Sauvegarde de mongodb avec versionning
- login et api token
- visaulisation graph
- generation de gexf
- Documentation de DB
 --></div>
<!-- 
<div ng-if="currentUser">Welcome, {{ currentUser.uid }}</div>
 <div ng-if="isAuthorized(userRoles.admin)">You're admin.</div>
 <div ng-switch on="currentUser.role">
  <div ng-switch-when="userRoles.admin">You're admin.</div>
  <div ng-switch-when="userRoles.editor">You're editor.</div>
  <div ng-switch-default>You're something else.</div>
</div> -->
<div class="container footer">
<div id="graph" vis-network data="graph.data" options="graph.options" event="select" callback="callbackFunction(params)" style="width: 90%; height: 500px"></div>
  <p><span class="glyphicon glyphicon-fire"> version0.3</span></p>
</div>
<h4>Légende :</h4>
<svg style="width: 732px; height: 90px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0" y="0" viewBox="0 0 732.7 80" xml:space="preserve" enable-background="new 0 0 732.7 80"><style type="text/css">
	.st0{fill:#E3D522;}
	.st1{fill:#543D3D;}
	.st2{fill:#ABDEF7;}
	.st3{fill:#E31B23;}
	.st4{fill:#FC758F;}
	.st5{font-family:'MyriadPro-Regular';}
	.st6{font-size:12;}
</style><rect x="51" y="15" class="st0" width="37" height="37"/><rect x="173" y="15" class="st1" width="37" height="37"/><polygon class="st2" points="294.9 52 313.4 15 331.9 52 "/><circle class="st1" cx="557.3" cy="33.2" r="18.7"/><circle class="st3" cx="435.4" cy="33.2" r="18.7"/><circle class="st4" cx="679.3" cy="33.2" r="18.7"/><text transform="matrix(1 0 0 1 48.6702 68.163)"><tspan x="0" y="0" class="st5 st6">Thé</tspan><tspan x="18.6" y="0" class="st5 st6">a</tspan><tspan x="24.6" y="0" class="st5 st6">tres</tspan></text><text transform="matrix(1 0 0 1 177.8036 68.163)" class="st5 st6">Lieux</text><text transform="matrix(1 0 0 1 297.3662 68.163)" class="st5 st6">Pièces</text><text transform="matrix(1 0 0 1 410.6105 68.163)" class="st5 st6">Personnes</text><text transform="matrix(1 0 0 1 527.9193 68.1628)" class="st5 st6">Evénements</text><text transform="matrix(1 0 0 1 651.0105 67.8824)" class="st5 st6">Ressources</text></svg>
