
<div class="container">
<h2>Base de données p2s</h2>
<!-- <p class="bg-success">Théatres</p>
<p class="bg-info">Pièces</p>
<p class="bg-warning">Personnes</p>
<p class="bg-danger">Liens</p> -->
<!--   http://visjs.org/examples/network/17_network_info.html

- Sauvegarde de mongodb avec versionning
- login et api token
- visaulisation graph
- generation de gexf
- Documentation de DB
 --></div>


<div class="container footer">
  <p><span class="glyphicon glyphicon-fire"> version0.3</span></p>
</div>
