<div class="form-group">
    <label for="title" class="col-sm-2 control-label">Nom</label>
    <div class="col-sm-8">
        <input type="text" ng-model="piece.nom" class="form-control" id="title" placeholder="Nom"/>
    </div>
</div>
<div class="form-group">
    <label for="year" class="col-sm-2 control-label">Descriptif</label>
    <div class="col-sm-8">
        <textarea type="text" ng-model="piece.descriptif" class="form-control" id="year" placeholder="Descriptif de la pièce"/>
    </div>
</div>
<hr />
<div class="form-group">
    <label for="date" class="col-sm-2 control-label">Dates</label>
    <div class="col-sm-8">
        <div ng-repeat="date in piece.dates">
            <input  type="text" class="form-control" style="width:300px;display:inline;" ng-model="date.description" name="descriptif" >
            <input  type="text" class="form-control" style="width:200px;display:inline;" ng-model="date.date" data-date-format="dd-MM-yyyy" name="date" bs-datepicker>
            <button class="btn btn-warning" ng-click="removeDate($index)">
                <span class="glyphicon glyphicon-remove-circle"></span>
            </button>
        </div>
        <button type="button" class="btn btn-info" ng-click="addDate()">Ajout de date</button>
    </div>
</div>
<hr />
<div class="form-group">
    <label for="date" class="col-sm-2 control-label">Liens</label>
    <div class="col-sm-8">
        <a class="btn btn-info" data-animation="am-fade-and-slide-top" data-template="views/modal/addLien.tpl.html"  data-placement="center" data-title="Ajout d'un lien" bs-modal="modal" >
            <i class="glyphicon glyphicon-plus"></i>
        </a>
    </div>
</div>
<hr />
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Sauvegarde"/>
    </div>
</div>



